#brighthire_btn {
  display: flex;
  align-items: center;
}

#bh-icon {
  height: 20px;
  width: 20px;
  margin-bottom: 2px;
}

.bh-btn {
  font-family: "Google Sans", Roboto, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.25px;
  line-height: 30px;
  background-color: #1aaba4;
  color: #fff;
  border-color: transparent;
  cursor: pointer;
  transition: background-color 50ms cubic-bezier(0.4, 0, 1, 1);
}

.bh-btn:hover {
  background-color: #1cb8b1;
}

#call-with-bh {
  border-radius: 4pt;
}

#call-with-bh.tooltip {
  border-radius: 4pt 0 0 4pt;
  border-right: 1px solid white;
}

#in-person-bh {
  border-radius: 0 4pt 4pt 0;
  position: relative;
}

#in-person-tooltip {
  display: none;
  position: absolute;
  top: calc(100% + 6px);
  right: -4px;
  white-space: nowrap;
  background-color: #fff;
  color: #393f47;
  padding: 3px 10px;
  border-radius: 4px;
  border: 1px solid #d3d8de;
  z-index: 1;
  transition: background-color 50ms cubic-bezier(0.4, 0, 1, 1);
}

#in-person-tooltip:hover {
  background-color: #f5f6f7;
}
